
<h2>List of Applicants </h2>

  <% Userprofile.read.order("name").each do |userprofile| %>
    <ul> <h4>
      <%= link_to userprofile["name"], "/userprofiles/#{userprofile["id"]}" %>
      <%= link_to "(Delete)", "/userprofiles/#{userprofile["id"]}", "method" => "delete" %>
      <%#= link_to "(Edit)", "/userprofiles/#{userprofile["id"]}/edit" %>
    </ul> </h4>
  <% end %>


  <hr> </hr>
  <h4> <%= link_to "Add a new Applicant", "/userprofiles/new", "class" => 'btn btn btn-primary' %> or
	
  <%= link_to "Add preferences for an Applicant", "/userpreferences/new", "class" => 'btn btn btn-primary' %> </h4>


