
<% userprofile = Userprofile.find_by("id" => params["id"]) %>

<div class="row">

  <div class="col-md-4">
      <h2>Applicant profile</h2>
      <ul> <%= image_tag userprofile["photo_url"], "width" => "100", "height" => "120" %> </ul>
      <ul> Name: <%= userprofile["name"] %> </ul>
  </div>
  
  <div class="col-md-6 offset 2">
      <h2>Applicant preferences for an Apartment</h2>

        <% userpreferences = Userpreference.where("userprofile_id" => userprofile["id"]) %>

      <ul>
        <% userpreferences.each do |userpreference| %>
        <% apartmenttype = Apartmenttype.find_by("id" => userpreference["apartmenttype_id"]) %>
        
          <li>
            <%= userpreference["preference"] %>
            in
            <%= link_to apartmenttype["title"], "/apartmenttypes/#{apartmenttype["id"]}" %>
          </li>
        <% end %>
    </ul>

  </div>

</div>

<hr> </hr>